body{
    margin: 0 !important;
    transition: background-color 0.4s ease-out, color 0.4s ease-out;
}

/* Navbar */

nav{
    display: flex;
    width: auto;
    justify-content: space-between;
    padding: 0 5%;
    height: 10vh;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: #e3e7eb;
    font-size: 16px;
}

nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    gap: 22px;
}

nav ul li {
    list-style-type: none;
    
}

nav ul img{
    width: 50px;
    height: 50px;
    margin-top: 5px;
    object-fit: contain;
}

nav ul li a{
    transition: 0.4s ease-out;
    text-decoration: none;
    color: black;
}

nav ul li a.active {
    color: orangered;
    font-weight: bold;
}

nav ul li a:hover{
    color: orangered;
    font-weight: bold;
    scale: 1.03;
}


.nav-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1px;
}

.nav-right-night-mode{
    margin-right: 20px;
}

.nav-right a{
    display: flex;
    background-color: black;
    color: white;
    padding: 7px;
    align-items: flex-end;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    transition: 0.4s ease-out;
}

.nav-right a:hover{
    background-color: orangered;
    scale: 1.03;
}

#hamburger-btn{
    display: none;
}

#hamburger-btn button{
    background-color: black;
    color: white;
    padding: 5px;
    align-items: flex-end;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    transition: 0.4s ease-out;
}





/* TRANSISI HAMBURGER MENU */
.showContainerMenu{
    transform: translateY(0) !important;
}
