<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    My Project Detail
  </title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="width=device-width, initial-scale=1" name="viewport" />

  <link rel="stylesheet" href="/css/night.css" />
  <link rel="stylesheet" href="/css/projectDetail.css" />
  <!-- <link rel="stylesheet" href="css/selfcard.css" /> -->
  <link rel="stylesheet" href="/css/nav.css" />
  <!-- <link rel="stylesheet" href="css/home.css"/> -->
  <!-- <link rel="stylesheet" href="css/hamburgerMenu.css" /> -->
  <!-- <link rel="stylesheet" href="css/responsiveLayout.css" /> -->

  <link rel="icon" type="/image/x-icon" href="/images/rengokumati.jpg">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">


</head>

<body style="background-color: white; font-family: Montserrat;">
  <nav class="navbar navbar-expand-lg navbar-light " id="nav">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/images/beingfunnyInA.jpg" id="navbar-image" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="navbar-item">
          <li class="nav-item ">
            <a class="nav-link" href="../">Home</a>
          </li>
          <li class="nav-item">
            {{if .DataSession.IsLogin}}
            <a class="nav-link" href="../myProject">My Project</a>
            {{end}}
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../testimonials">Testimonial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fw-bold" href=" projectDetail">Project Detail</a>
          </li>
        </ul>
        <div class="d-flex flex" id="nav-right">
          {{if .DataSession.IsLogin}}
          <form id="logoutform" action="/logout" method="POST"></form>
          <div class="dropdown-center btn-dropdown-logout" >
            <a
              id="user-account"
              class="btn dropdown-toggle ps-0 mb-0"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              style="border: none"
            >
              Welcome, {{.DataSession.Name}}
            </a>

            <ul
              class="dropdown-menu text-lg-end text-start m-0 pt-0 bg-body-tertiary"
              style="border: none"
            >
              <a
                class="dropdown-item bg-body-tertiary ps-0"
                href="#"
                style="border: none"
                onclick="document.getElementById('logoutform').submit()"
                >Logout</a
              >
            </ul>
          </div>
          {{end}}
          <a class="btn btn-dark rounded-4  nav-right-night-mode" id="night-mode" type="button">Night Mode</a>
          <a class="btn btn-dark rounded-4 collapse-item" href="contact">Contact Me</a>
        </div>
      </div>
    </div>
  </nav>



  <div class="project-detail-wrapper">

    <div class="project-detail-card">
      <h1>{{.DetailProjects.ProjectName}}</h1>
      <div class="d-flex project-detail-info">
        <div class="project-detail-image">
          <img src="/uploads/{{.DetailProjects.Image}}" />
        </div>
        <div class="project-detail-right">
          <ul>
            <li>
              <!-- -->
              <h6>Author</h6>
            </li>
            <li>
              <i class="fa-solid fa-user"></i>
              <h7>{{.DetailProjects.Author}}</h7>
            </li>
          </ul>
          <ul>
            <li>
              <h6>Duration</h6>
            </li>
            <li>
              <i class="fas fa-calendar-alt"></i>
              <h7>From : {{.startDateString}} Until : {{.endDateString}}</h7>
            </li>
            <li>
              <i class="fa-sharp fa-regular fa-clock"></i>
              <h7>{{.DetailProjects.Duration}}</h7>
            </li>
          </ul>
          <ul>
            <li>
              <h6>Technologies</h6>
            </li>
            <li>
              {{if .DetailProjects.NodeJs}}
              <i class="fa-brands fa-node-js"></i>
              <h7>Node JS</h7>
              {{end}}

            </li>
            <li>
              {{if .DetailProjects.Python}}
              <i class="fa-brands fa-python"></i>
              <h7>Python</h7>
              {{end}}

            </li>
            <li>
              {{if .DetailProjects.JavaScript}}
              <i class="fa-brands fa-square-js"></i>
              <h7>JavaScript</h7>
              {{end}}

            </li>
            <li>
              {{if .DetailProjects.ReactJs}}
              <i class="fa-brands fa-react"></i>
              <h7>React Js</h7>
              {{end}}

            </li>
          </ul>
        </div>
      </div>
      <div class="project-detail-paragraphs">
        <h2>Description</h2>
        <p>{{.DetailProjects.Description}}
        </p>
      </div>
    </div>
  </div>

  <script src="/js/nightMode.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>